<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="LOG_HOME" value="/export/Logs/study" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d %-5level [%t] [%lo{26}][%L] - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/study-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/study-info.log.%d</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%thread] %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/loan-dist-sdk-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/loan-dist-sdk-error.log.%d</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d %-5level [%thread] %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>-->
    <root level="DEBUG">
        <appender-ref ref="FILE"/>
        <!--<appender-ref ref="FILE-ERROR"/>-->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>